{% extends "layouts/base.html" %}

{% block content %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Forgot your password?</h5>
                                    </div>
                                    <div class="card-block">
                                    <p>Enter your details below to reset your password</p>
                                    <hr>
                                        <form action="" method="post" novalidate>   
                                            <div class="row">
                                                <div class="col-sm-8 mb-2">
                                                    <div class="form-group">
                                                        {{ form.hidden_tag() }}
                                                        {{ form.email.label }}
                                                        {{ form.email(class="form-control", placeholder="Email Address") }}
                                                        {% for error in form.email.errors %}
                                                            {{ error }}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 mb-2">
                                                    <div class="custom-control custom-radio">

                                                        
                                                        {{ form.role.label() }}
                                                        {{ form.role() }}
                                                        {% for error in form.role.errors %}
                                                            {{ error }}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        {{ form.submit(class="btn btn-primary") }}
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock content %}