{% extends "layouts/base.html" %}

{% block content %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Add to Inventory Shop</h5>
                                    </div>
                                    <div class="card-block">

                                        <form action="" method="post" novalidate>
                                            <div class="row">
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        {{ form.hidden_tag() }}
                                                        {{ form.ingredient_name(class="form-control", placeholder="Ingredient") }}
                                                        {% for error in form.ingredient_name.errors %}
                                                            {{ error }}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        {{ form.hidden_tag() }}
                                                        {{ form.expiry(class="form-control", placeholder="Expiry") }}
                                                        {% for error in form.expiry.errors %}
                                                            {{ error }}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                    <div class="col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            {{ form.submit(class="btn btn-primary") }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <div>
                                            {% with messages = get_flashed_messages() %}
                                                {% if messages %}
                                                    {% for message in messages %}
                                                        <p> {{ message }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}