<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Michelin Star</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Management Tools</label>
                </li>

                 <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
                            class="pcoded-mtext">Roster</span></a>
                    <ul class="pcoded-submenu">
                        <!-- I want the view roster and generate random functionalities (ask ben about those webpages) as dropdown options -->
                        <li class=""><a href="/roster_timetable" class="" target="_blank">View Roster</a></li>
                        <li class=""><a href="/generate_roster" class="" target="_blank">Generate</a></li>
                    </ul>
                </li>

                <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
                            class="pcoded-mtext">Staff</span></a>
                    <ul class="pcoded-submenu">
                        <!-- I want view_all_employees and add_new_employee as dropdown options -->
                        <li class=""><a href="/view_all_employees" class="" target="_blank">Employee List</a></li>
                        <li class=""><a href="/add_new_employee" class="" target="_blank">Add Employee</a></li>
                    </ul>
                </li>

                <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
                            class="pcoded-mtext">Inventory</span></a>
                    <ul class="pcoded-submenu">
                        <!-- I want view_inventory dropdown options -->
                        <li class=""><a href="/view_inventory" class="" target="_blank">View Inventory</a></li>
                        <li class=""><a href="/add_inventory" class="" target="_blank">Add Inventory</a></li>
                    </ul>
                </li>


                <li class="nav-item pcoded-menu-caption">
                    <label>Account</label>
                </li>
                <li data-username="Profile Page" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Profile Page</span></a>
                </li>               
                <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
                            class="pcoded-mtext">Login</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/staff_login" class="" target="_blank">Customer Login</a></li>
                        <li class=""><a href="/customer_login" class="" target="_blank">Staff Login</a></li>
                    </ul>
                </li>

                <li data-username="Sample Page" class="nav-item"><a href="/registration" class="nav-link"><span
                        class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Register</span></a>
                </li>

                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{{ url_for('logout') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
