{% extends 'base.html'%}
{% block main_content %}
{% if dishes is not none%}
    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>add to cart</th>
        </tr>
        {% for dish in dishes%}
            <tr>
                <td>{{dish['name']}}</td>
                <td>{{dish['cost']}}</td>
                <td><a href="{{url_for('add_to_cart', dish_id=dish['dish_id'])}}">add to cart</a></td>
            </tr>
        {% endfor%}
    
    </table>
    {%endif%}

{%endblock%}