{% extends "layouts/base.html" %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Error</h5>
                                    </div>
                                    <div class="card-block">
                                        <p>An Error Occurred
                                        <br>Redirecting...
                                        </p>
                                        <script>
                                            setTimeout(function(){
                                                window.location.href ="{{ ( url_for('index') ) }}";
                                                }, 3000);
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}