{% extends 'base.html' %}
{% block content %}

<table>
    <tr>
        <th>Dish</th>
        <th>Time Ordered</th>
        <th>Cook Time</th>
        <th>Status</th>
        <th>Acions</th>
    </tr>
    {%for line in orderlist%}
    <tr>
        <td>
            {{line.name}}
        </td>
        <td>
            {{line.time}}
        </td>
        <td>
            {{line.cook_time}}
        </td>
        <td>
            {{line.status}}
        </td>
        <td>
            {%if line.status=="unmade"%}

            <a href="{{ url_for('kitchenUpdate', dish_id=line.dish_id, time=line.time) }}">Set to ongoing</a>

            {%elif line.status=="ongoing"%}
            <a href="{{ url_for('kitchenDelete', dish_id=line.dish_id, time=line.time) }}">Delete</a>
            {%endif%}
        </td>
    </tr>
    {%endfor%}
</table>

{%endblock%}